/*  http://ely-s.github.io/mixin/  this is cool, but isnt needed if all I want to do is extend */


/*  https://coderwall.com/p/wixovg/bootstrap-without-all-the-debt  -> use @extend! yes... */

button {
	@extend .btn;
}
button.increase {
	@extend .btn-success;
	span {
		@extend .glyphicon, .glyphicon-plus;
	}
}
button.decrease {
	@extend .btn-warning;
	span {
		@extend .glyphicon, .glyphicon-minus;
	}
}
button.delete {
	@extend .btn-danger;
}
#org-form {
	@extend .row, .text-center;
	input[type="submit"] {
		@extend .btn, .btn-primary, .btn-lg, .glyphicon;
	}
}


#pieChart {
	min-width: 310px;
	max-width: 600px;
	height: 400px;
	margin: 0 auto
}